In [6]:
import pandas as pd
import numpy as np
import plotly as pl

In [7]:
movies = pd.read_csv('D:/Movie Search/Movie imdb 5000/tmdb_5000_movies.csv')
credits = pd.read_csv('D:/Movie Search/Movie imdb 5000/tmdb_5000_credits.csv')

In [8]:
movies.shape

(4803, 20)

In [9]:
credits.shape

(4803, 4)

In [10]:
movies.isnull().any

<bound method DataFrame.any of       budget  genres  homepage     id  keywords  original_language  \
0      False   False     False  False     False              False
1      False   False     False  False     False              False
2      False   False     False  False     False              False
3      False   False     False  False     False              False
4      False   False     False  False     False              False
5      False   False     False  False     False              False
6      False   False     False  False     False              False
7      False   False     False  False     False              False
8      False   False     False  False     False              False
9      False   False     False  False     False              False
10     False   False     False  False     False              False
11     False   False     False  False     False              False
12     False   False     False  False     False              False
13     False   False     False  False     False              False
14     False   False     False  False     False              False
15     False   False      True  False     False              False
16     False   False     False  False     False              False
17     False   False     False  False     False              False
18     False   False     False  False     False              False
19     False   False     False  False     False              False
20     False   False     False  False     False              False
21     False   False     False  False     False              False
22     False   False     False  False     False              False
23     False   False     False  False     False              False
24     False   False      True  False     False              False
25     False   False     False  False     False              False
26     False   False     False  False     False              False
27     False   False      True  False     False              False
28     False   False     False  False     False              False
29     False   False     False  False     False              False
...      ...     ...       ...    ...       ...                ...
4773   False   False     False  False     False              False
4774   False   False      True  False     False              False
4775   False   False      True  False     False              False
4776   False   False      True  False     False              False
4777   False   False      True  False     False              False
4778   False   False      True  False     False              False
4779   False   False      True  False     False              False
4780   False   False      True  False     False              False
4781   False   False     False  False     False              False
4782   False   False      True  False     False              False
4783   False   False      True  False     False              False
4784   False   False     False  False     False              False
4785   False   False      True  False     False              False
4786   False   False      True  False     False              False
4787   False   False      True  False     False              False
4788   False   False      True  False     False              False
4789   False   False      True  False     False              False
4790   False   False      True  False     False              False
4791   False   False     False  False     False              False
4792   False   False      True  False     False              False
4793   False   False      True  False     False              False
4794   False   False      True  False     False              False
4795   False   False      True  False     False              False
4796   False   False     False  False     False              False
4797   False   False      True  False     False              False
4798   False   False      True  False     False              False
4799   False   False      True  False     False              False
4800   False   False     False  False     False              False
4801   False   False     False  False     False              False
4802   False   False      True  False     False              False

      original_title  overview  popularity  production_companies  \
0              False     False       False                 False
1              False     False       False                 False
2              False     False       False                 False
3              False     False       False                 False
4              False     False       False                 False
5              False     False       False                 False
6              False     False       False                 False
7              False     False       False                 False
8              False     False       False                 False
9              False     False       False                 False
10             False     False       False                 False
11             False     False       False                 False
12             False     False       False                 False
13             False     False       False                 False
14             False     False       False                 False
15             False     False       False                 False
16             False     False       False                 False
17             False     False       False                 False
18             False     False       False                 False
19             False     False       False                 False
20             False     False       False                 False
21             False     False       False                 False
22             False     False       False                 False
23             False     False       False                 False
24             False     False       False                 False
25             False     False       False                 False
26             False     False       False                 False
27             False     False       False                 False
28             False     False       False                 False
29             False     False       False                 False
...              ...       ...         ...                   ...
4773           False     False       False                 False
4774           False     False       False                 False
4775           False     False       False                 False
4776           False     False       False                 False
4777           False     False       False                 False
4778           False     False       False                 False
4779           False     False       False                 False
4780           False     False       False                 False
4781           False     False       False                 False
4782           False     False       False                 False
4783           False     False       False                 False
4784           False     False       False                 False
4785           False     False       False                 False
4786           False     False       False                 False
4787           False     False       False                 False
4788           False     False       False                 False
4789           False     False       False                 False
4790           False     False       False                 False
4791           False     False       False                 False
4792           False     False       False                 False
4793           False     False       False                 False
4794           False     False       False                 False
4795           False     False       False                 False
4796           False     False       False                 False
4797           False     False       False                 False
4798           False     False       False                 False
4799           False     False       False                 False
4800           False     False       False                 False
4801           False     False       False                 False
4802           False     False       False                 False

      production_countries  release_date  revenue  runtime  spoken_languages  \
0                    False         False    False    False             False
1                    False         False    False    False             False
2                    False         False    False    False             False
3                    False         False    False    False             False
4                    False         False    False    False             False
5                    False         False    False    False             False
6                    False         False    False    False             False
7                    False         False    False    False             False
8                    False         False    False    False             False
9                    False         False    False    False             False
10                   False         False    False    False             False
11                   False         False    False    False             False
12                   False         False    False    False             False
13                   False         False    False    False             False
14                   False         False    False    False             False
15                   False         False    False    False             False
16                   False         False    False    False             False
17                   False         False    False    False             False
18                   False         False    False    False             False
19                   False         False    False    False             False
20                   False         False    False    False             False
21                   False         False    False    False             False
22                   False         False    False    False             False
23                   False         False    False    False             False
24                   False         False    False    False             False
25                   False         False    False    False             False
26                   False         False    False    False             False
27                   False         False    False    False             False
28                   False         False    False    False             False
29                   False         False    False    False             False
...                    ...           ...      ...      ...               ...
4773                 False         False    False    False             False
4774                 False         False    False    False             False
4775                 False         False    False    False             False
4776                 False         False    False    False             False
4777                 False         False    False    False             False
4778                 False         False    False    False             False
4779                 False         False    False    False             False
4780                 False         False    False    False             False
4781                 False         False    False    False             False
4782                 False         False    False    False             False
4783                 False         False    False    False             False
4784                 False         False    False    False             False
4785                 False         False    False    False             False
4786                 False         False    False    False             False
4787                 False         False    False    False             False
4788                 False         False    False    False             False
4789                 False         False    False    False             False
4790                 False         False    False    False             False
4791                 False         False    False    False             False
4792                 False         False    False    False             False
4793                 False         False    False    False             False
4794                 False         False    False    False             False
4795                 False         False    False    False             False
4796                 False         False    False    False             False
4797                 False         False    False    False             False
4798                 False         False    False    False             False
4799                 False         False    False    False             False
4800                 False         False    False    False             False
4801                 False         False    False    False             False
4802                 False         False    False    False             False

      status  tagline  title  vote_average  vote_count
0      False    False  False         False       False
1      False    False  False         False       False
2      False    False  False         False       False
3      False    False  False         False       False
4      False    False  False         False       False
5      False    False  False         False       False
6      False    False  False         False       False
7      False    False  False         False       False
8      False    False  False         False       False
9      False    False  False         False       False
10     False     True  False         False       False
11     False    False  False         False       False
12     False    False  False         False       False
13     False    False  False         False       False
14     False    False  False         False       False
15     False    False  False         False       False
16     False    False  False         False       False
17     False    False  False         False       False
18     False    False  False         False       False
19     False    False  False         False       False
20     False    False  False         False       False
21     False    False  False         False       False
22     False    False  False         False       False
23     False    False  False         False       False
24     False    False  False         False       False
25     False    False  False         False       False
26     False    False  False         False       False
27     False    False  False         False       False
28     False    False  False         False       False
29     False    False  False         False       False
...      ...      ...    ...           ...         ...
4773   False    False  False         False       False
4774   False    False  False         False       False
4775   False     True  False         False       False
4776   False    False  False         False       False
4777   False     True  False         False       False
4778   False    False  False         False       False
4779   False     True  False         False       False
4780   False     True  False         False       False
4781   False    False  False         False       False
4782   False     True  False         False       False
4783   False    False  False         False       False
4784   False     True  False         False       False
4785   False     True  False         False       False
4786   False     True  False         False       False
4787   False    False  False         False       False
4788   False    False  False         False       False
4789   False    False  False         False       False
4790   False     True  False         False       False
4791   False    False  False         False       False
4792   False    False  False         False       False
4793   False    False  False         False       False
4794   False     True  False         False       False
4795   False    False  False         False       False
4796   False    False  False         False       False
4797   False     True  False         False       False
4798   False    False  False         False       False
4799   False    False  False         False       False
4800   False     True  False         False       False
4801   False    False  False         False       False
4802   False     True  False         False       False

[4803 rows x 20 columns]>

In [11]:
credits.isnull(),any

(      movie_id  title   cast   crew
 0        False  False  False  False
 1        False  False  False  False
 2        False  False  False  False
 3        False  False  False  False
 4        False  False  False  False
 5        False  False  False  False
 6        False  False  False  False
 7        False  False  False  False
 8        False  False  False  False
 9        False  False  False  False
 10       False  False  False  False
 11       False  False  False  False
 12       False  False  False  False
 13       False  False  False  False
 14       False  False  False  False
 15       False  False  False  False
 16       False  False  False  False
 17       False  False  False  False
 18       False  False  False  False
 19       False  False  False  False
 20       False  False  False  False
 21       False  False  False  False
 22       False  False  False  False
 23       False  False  False  False
 24       False  False  False  False
 25       False  False  False  False
 26       False  False  False  False
 27       False  False  False  False
 28       False  False  False  False
 29       False  False  False  False
 ...        ...    ...    ...    ...
 4773     False  False  False  False
 4774     False  False  False  False
 4775     False  False  False  False
 4776     False  False  False  False
 4777     False  False  False  False
 4778     False  False  False  False
 4779     False  False  False  False
 4780     False  False  False  False
 4781     False  False  False  False
 4782     False  False  False  False
 4783     False  False  False  False
 4784     False  False  False  False
 4785     False  False  False  False
 4786     False  False  False  False
 4787     False  False  False  False
 4788     False  False  False  False
 4789     False  False  False  False
 4790     False  False  False  False
 4791     False  False  False  False
 4792     False  False  False  False
 4793     False  False  False  False
 4794     False  False  False  False
 4795     False  False  False  False
 4796     False  False  False  False
 4797     False  False  False  False
 4798     False  False  False  False
 4799     False  False  False  False
 4800     False  False  False  False
 4801     False  False  False  False
 4802     False  False  False  False

 [4803 rows x 4 columns], <function any(iterable, /)>)

In [12]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [13]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
movies = movies.merge(credits,on='title')

In [15]:
movies.count()

budget                  4809
genres                  4809
homepage                1713
id                      4809
keywords                4809
original_language       4809
original_title          4809
overview                4806
popularity              4809
production_companies    4809
production_countries    4809
release_date            4808
revenue                 4809
runtime                 4807
spoken_languages        4809
status                  4809
tagline                 3965
title                   4809
vote_average            4809
vote_count              4809
movie_id                4809
cast                    4809
crew                    4809
dtype: int64

In [16]:
movies['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5       [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6       [{"id": 16, "name": "Animation"}, {"id": 10751...
7       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
10      [{"id": 12, "name": "Adventure"}, {"id": 14, "...
11      [{"id": 12, "name": "Adventure"}, {"id": 28, "...
12      [{"id": 12, "name": "Adventure"}, {"id": 14, "...
13      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
14      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
15      [{"id": 12, "name": "Adventure"}, {"id": 10751...
16      [{"id": 878, "name": "Science Fiction"}, {"id"...
17      [{"id": 12, "name": "Adventure"}, {"id": 28, "...
18      [{"id": 28, "name": "Action"}, {"id": 35, "nam...
19      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
20      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
21      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
22      [{"id": 12, "name": "Adventure"}, {"id": 14, "...
23      [{"id": 12, "name": "Adventure"}, {"id": 14, "...
24      [{"id": 12, "name": "Adventure"}, {"id": 18, "...
25      [{"id": 18, "name": "Drama"}, {"id": 10749, "n...
26      [{"id": 12, "name": "Adventure"}, {"id": 28, "...
27      [{"id": 53, "name": "Thriller"}, {"id": 28, "n...
28      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
29      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4779                       [{"id": 35, "name": "Comedy"}]
4780    [{"id": 18, "name": "Drama"}, {"id": 10749, "n...
4781    [{"id": 18, "name": "Drama"}, {"id": 35, "name...
4782    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4783                        [{"id": 18, "name": "Drama"}]
4784    [{"id": 28, "name": "Action"}, {"id": 18, "nam...
4785                       [{"id": 35, "name": "Comedy"}]
4786    [{"id": 53, "name": "Thriller"}, {"id": 80, "n...
4787    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4788    [{"id": 18, "name": "Drama"}, {"id": 10751, "n...
4789    [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
4790    [{"id": 18, "name": "Drama"}, {"id": 35, "name...
4791                        [{"id": 18, "name": "Drama"}]
4792    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4793    [{"id": 878, "name": "Science Fiction"}, {"id"...
4794    [{"id": 27, "name": "Horror"}, {"id": 35, "nam...
4795                        [{"id": 18, "name": "Drama"}]
4796    [{"id": 18, "name": "Drama"}, {"id": 10769, "n...
4797                       [{"id": 27, "name": "Horror"}]
4798    [{"id": 80, "name": "Crime"}, {"id": 27, "name...
4799                        [{"id": 18, "name": "Drama"}]
4800    [{"id": 53, "name": "Thriller"}, {"id": 27, "n...
4801                        [{"id": 18, "name": "Drama"}]
4802    [{"id": 878, "name": "Science Fiction"}, {"id"...
4803    [{"id": 10769, "name": "Foreign"}, {"id": 53, ...
4804    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4805    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4806    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4807                                                   []
4808                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4809, dtype: object

In [17]:
movie = pd.DataFrame(movies.drop(['budget','homepage','id','original_language','original_title','popularity','production_companies','production_countries','release_date','runtime','spoken_languages','status','tagline','vote_average','vote_count'],axis=1))

In [18]:
movie.head()

,genres,keywords,overview,revenue,title,movie_id,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",2787965087,Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",961000000,Pirates of the Caribbean: At World's End,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,880674609,Spectre,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,1084939099,The Dark Knight Rises,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",284139100,John Carter,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
import ast

In [20]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [21]:
movie.dropna(inplace=True)

In [22]:
movie['genres'] = movie['genres'].apply(convert)
movie.head()

,genres,keywords,overview,revenue,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",2787965087,Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",961000000,Pirates of the Caribbean: At World's End,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,880674609,Spectre,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,1084939099,The Dark Knight Rises,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",284139100,John Carter,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
movie['keywords'] = movie['keywords'].apply(convert)
movie.head()

,genres,keywords,overview,revenue,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",2787965087,Avatar,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",961000000,Pirates of the Caribbean: At World's End,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,880674609,Spectre,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,1084939099,The Dark Knight Rises,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",284139100,John Carter,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [25]:
movie['cast'] = movie['cast'].apply(convert)
movie.head()

,genres,keywords,overview,revenue,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",2787965087,Avatar,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",961000000,Pirates of the Caribbean: At World's End,285,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,880674609,Spectre,206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,1084939099,The Dark Knight Rises,49026,"[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",284139100,John Carter,49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [26]:
movie['cast'] = movie['cast'].apply(lambda x:x[0:3])

In [27]:
movie['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
5            [Tobey Maguire, Kirsten Dunst, James Franco]
6               [Zachary Levi, Mandy Moore, Donna Murphy]
7       [Robert Downey Jr., Chris Hemsworth, Mark Ruff...
8           [Daniel Radcliffe, Rupert Grint, Emma Watson]
9                  [Ben Affleck, Henry Cavill, Gal Gadot]
10           [Brandon Routh, Kevin Spacey, Kate Bosworth]
11        [Daniel Craig, Olga Kurylenko, Mathieu Amalric]
12          [Johnny Depp, Orlando Bloom, Keira Knightley]
13          [Johnny Depp, Armie Hammer, William Fichtner]
14             [Henry Cavill, Amy Adams, Michael Shannon]
15         [Ben Barnes, William Moseley, Anna Popplewell]
16         [Robert Downey Jr., Chris Evans, Mark Ruffalo]
17              [Johnny Depp, Penélope Cruz, Ian McShane]
18             [Will Smith, Tommy Lee Jones, Josh Brolin]
19       [Martin Freeman, Ian McKellen, Richard Armitage]
20              [Andrew Garfield, Emma Stone, Rhys Ifans]
21         [Russell Crowe, Cate Blanchett, Max von Sydow]
22       [Martin Freeman, Ian McKellen, Richard Armitage]
23      [Dakota Blue Richards, Nicole Kidman, Daniel C...
24                [Naomi Watts, Jack Black, Adrien Brody]
25      [Kate Winslet, Leonardo DiCaprio, Frances Fisher]
26      [Chris Evans, Robert Downey Jr., Scarlett Joha...
27          [Taylor Kitsch, Alexander Skarsgård, Rihanna]
28        [Chris Pratt, Bryce Dallas Howard, Irrfan Khan]
29              [Daniel Craig, Judi Dench, Javier Bardem]
                              ...
4779       [Brian O'Halloran, Jeff Anderson, Jason Mewes]
4780    [Bobby Kendall, Donald L. Brooks, Charles Ludlam]
4781    [Kate Dollenmayer, Mark Herlehy, Christian Rud...
4782          [Aaron Eckhart, Stacy Edwards, Matt Malloy]
4783                [Franky G, Leo Minaya, Manuel Cabral]
4784        [Brendan Fletcher, Shaun Sipos, Michael Paré]
4785                      [Richard Linklater, Mark James]
4786             [R.L. Mann, Tama Filianga, Mikaal Bates]
4787         [Suzi Lorraine, Jared Degado, Heather Dorff]
4788                                      [Alex Kendrick]
4789         [Stephen Lang, Kelly Blatz, Brittany Curran]
4790         [Mark Duplass, Katie Aselton, Rhett Wilkins]
4791       [Louis Brooke, Allan Bryan Weku, Judy Gichohi]
4792          [Zoe Lister-Jones, Daryl Wein, Julie White]
4793               [Jason Trost, Lucas Till, James Remar]
4794          [Divine, David Lochary, Mary Vivian Pearce]
4795          [Maggie Cheung, Nick Nolte, Béatrice Dalle]
4796    [Nargess Mamizadeh, Maryiam Palvin Almani, Moj...
4797    [Michael Parle, Emma Eliza Regan, Patrick O'Do...
4798      [Koji Yakusho, Masato Hagiwara, Tsuyoshi Ujiki]
4799           [Tony Sancho, Michael Cortez, Donato Cruz]
4800              [Sasha Ramos, Erin Cline, Emily Rogers]
4801      [Darling Narita, Peter Greene, Michael Newland]
4802        [Shane Carruth, David Sullivan, Casey Gooden]
4803                                                   []
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [28]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [29]:
movie['crew'] = movie['crew'].apply(fetch_director)

In [30]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movie.sample(5)

,genres,keywords,overview,revenue,title,movie_id,cast,crew
1736,[Documentary],"[ocean, lake, bird, horse, parrot, owl, ornith...",The cameras of Jacques Perrin fly with migrato...,20217080,Winged Migration,11516,"[Philippe Labro, Jacques Perrin]",[Jacques Perrin]
2797,"[Romance, Science Fiction]",[],A woman's consuming love forces her to bear th...,0,Womb,59457,"[Eva Green, Matt Smith, Lesley Manville]",[Benedek Fliegauf]
823,"[Action, Thriller, Drama]","[submarine, mutiny, russia, missile, nuclear m...","On a US nuclear missile sub, a young first off...",157387195,Crimson Tide,8963,"[Denzel Washington, Gene Hackman, Matt Craven]",[Tony Scott]
4375,[Drama],[independent film],"Slam tells the story of Ray Joshua, an origina...",0,Slam,37532,"[Saul Williams, Sonja Sohn, Bonz Malone]",[Marc Levin]
1404,[Action],"[assassin, based on video game, aftercreditsst...",Coming together to solve a series of murders i...,85416905,Max Payne,13051,"[Mark Wahlberg, Mila Kunis, Beau Bridges]",[John Moore]

In [31]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [32]:
movie['cast'] = movie['cast'].apply(collapse)
movie['crew'] = movie['crew'].apply(collapse)
movie['genres'] = movie['genres'].apply(collapse)
movie['keywords'] = movie['keywords'].apply(collapse)

In [33]:
movie.head()

,genres,keywords,overview,revenue,title,movie_id,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",2787965087,Avatar,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","Captain Barbossa, long believed to be dead, ha...",961000000,Pirates of the Caribbean: At World's End,285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",A cryptic message from Bond’s past sends him o...,880674609,Spectre,206647,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",Following the death of District Attorney Harve...,1084939099,The Dark Knight Rises,49026,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","John Carter is a war-weary, former military ca...",284139100,John Carter,49529,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [34]:
movie['overview'] = movie['overview'].apply(lambda x:x.split())

In [35]:
movie['tags'] = movie['overview'] + movie['genres'] + movie['keywords'] + movie['cast'] + movie['crew']

In [36]:
new = movie.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [37]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,revenue,title,movie_id,tags
0,2787965087,Avatar,19995,"In the 22nd century, a paraplegic Marine is di..."
1,961000000,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha..."
2,880674609,Spectre,206647,A cryptic message from Bond’s past sends him o...
3,1084939099,The Dark Knight Rises,49026,Following the death of District Attorney Harve...
4,284139100,John Carter,49529,"John Carter is a war-weary, former military ca..."

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [39]:
vector = cv.fit_transform(new['tags']).toarray()

In [40]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
vector.shape

(4806, 5000)

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
similarity = cosine_similarity(vector)

In [44]:
similarity

array([[1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
        0.        ],
       [0.08964215, 1.        , 0.06350006, ..., 0.02635231, 0.        ,
        0.        ],
       [0.06071767, 0.06350006, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02677398, ..., 1.        , 0.07352146,
        0.04774099],
       [0.0277885 , 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]])

In [45]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [46]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [47]:
recommend('Gandhi')

Gandhi, My Father
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Ramanujan

In [48]:
import pickle

In [49]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))